h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.idkisebbdolgok {
    font-family: Arial, Helvetica, sans-serif;
}