body{
    background-image: url(images/Julikedvenc/hunger_background.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
#cimkep{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
h1{
    font-size: 40px;
    text-align: center;
}
#fecsegoposzata{
   width: 560px;
   float: right;
}
#Peetah{
    width: 460px;
    float: left;
}
h2{
    text-align: center;
}
.szereplok{
    font-size: 12;
    margin-left: 35%;
    margin-right: 40%;
}
h3{
    font-size: 25px;
}
#Katniss_Peetah{
    width: 220px;
    float: right;
    margin-right: 69%;
}
button{
   float: right;
   margin-right: 15%;
}
