table{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    width: 50%  ;
    background-image:url(images/matekedvenc/james_background.jpg) ;
    background-repeat: no-repeat;
    background-size: inherit;
}
th, td{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.nemhivatalos{
    background-color: rgba(177, 0, 0, 0.329);
}
Thead{
    background-color: rgba(173, 0, 0, 0.5);
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    text-align: center;
}
tbody{
    color: azure;
}
#tablazat{
    background-image: url(images/matekedvenc/james_background.jpg);
}
#jamesbond{
    margin-right: 2%;
    width: 60%;
    float: right;
    margin-left: 2%;
}
#jbleiras{
    margin-left: 2%;
    
}
.berlinbol{
    width: 20%;
    margin-right: 2% ;
    margin-left: 2%;
    float: right;
}
.plakat{
    width: 20%;
    margin-left: 2%;
    float: left;
}
video{
    margin-right: 2%;
    float: right;
    width: 50%;
}
p{
    font-size: 18px;
}
h1{
   font-size: 34px; 
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}
ul.custom-icon-list {
    list-style: none;
    padding-left: 0;
}
ul.custom-icon-list li {
    background: url('images/matekedvenc/james_logo.png') no-repeat left center;
    background-size: 5%; /* Eredeti méret negyede, ha az eredeti pl. 64px volt */
    padding-left: 6%; /* Hely az ikon és a szöveg között */
    line-height: 200%;
}
